.num-pad-payment {
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .num-pad-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
  }
  
  
  .num-pad-payment .num-pad-row button{
  /* padding: 30px; */
  height:100px;
  }
  
  .num-pad-payment .num-pad-key {
    /* padding: 0; */
    /* padding: 10px 15px; */
    /* height: 25%; */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    width: 25%;
    transition: background-color 0.3s ease;
    text-align: center !important;
  }

  
