

.Prod-printer tbody tr td.ellipsis{

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 350px; /* Adjust based on your layout */
        /* display: inline-block; */
        vertical-align: top;

}


.modal-content-PrintCat {
        background-color: #fefefe;
        padding: 20px;
        border-radius: 10px;
        max-width: 1000px;
        max-height: 90%;
        /* overflow-y: auto; */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
      }

.Product-category-list{
        height: 400px;
      overflow-y: auto;
     
}
 input[type='checkbox']{
        height: 20px;
        width: 20px;
        font-size: 100px;    
}