/* .Userlist th,
.td {

  border: 1px solid #ddd;
  padding: 4px;
  text-align: left;
  white-space: nowrap;
  cursor: pointer;

} */

/* .Waiter th {
    width: auto;
    text-align: center;
    background-color: #f2f2f2;
  } */
  
  .Waiter tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* .Waiter tbody tr:hover {
    background-color: #2109aa;
  } */
  

  .Waiter td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } 
  
 th {
    padding: 4px;
    width: auto;
    text-align: center !important;
    background-color: #f2f2f2;
  }

  .Waiter-Container{
position: absolute;

  }
  